@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-size: 16px;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0.5rem;
  background: #1D3557;
  color: #F1FAEE;
}

/* CSS HEX */
/* --imperial-red: #e63946ff;
--honeydew: #f1faeeff;
--powder-blue: #a8dadcff;
--celadon-blue: #457b9dff;
--prussian-blue: #1d3557ff; */
